<link rel="stylesheet" href="styles/index.css">

<h1>Все коллекции часов CASIO</h1>

<h2>Часы CASIO представлены в нескольких коллекциях. Каждая коллекция соответствует определенным вкусам. Выбирайте коллекцию по душе и переходите по ссылке.</h2>

<h4>Или воспользуйтесь поиском, если уже знаете марку часов, которые хотите заказать.</h4>
<form action='../search.php' method='get'>
    <input type='text' name='s' placeholder='Search'>
    <input type='submit'>
</form>

<ul>
	<li><a href="./?s=g-shock">G-SHOCK</a></li>
	<li><a href="./?s=g-shock-premium">G-SHOCK PREMIUM</a></li>
	<li><a href="./?s=baby-g">Baby-G</a></li>
	<li><a href="./?s=casio-sport">Casio Sport</a></li>
	<li><a href="./?s=edifice">EDIFICE</a></li>
	<li><a href="./?s=sheen">SHEEN</a></li>
	<li><a href="./?s=wave-ceptor">WAVE CEPTOR</a></li>
	<li><a href="./?s=casio-collection">Casio Collection</a></li>
	<li><a href="./?s=clocks">Clocks</a></li>
</ul>