<link rel="stylesheet" href="styles/index.css">
<main>
    <div class="first">
        <h1>Часы CASIO</h1>
        <p>Мы предлагаем продукцию знаменитой японской компании, которая с 1974 года производит часы превосходного качества.</p>
        <p>И именно в нашем магазине Вы встретите самые низкие цены в Перми!</p>
        <div>
            <img src="styles/img/watch1.svg" alt="">
            <div class="shadow"></div>
        </div>
    </div>
    <div class="second">
        <p>Широкий ассортимент позволяет каждому найти те часы, которые подойдут именно ему.</p>
        <div class="series">
            <div>
                <img src="styles/img/watch2.png" alt="">
                <p>Casio Collection</p>
            </div>
            <div>
                <img src="http://www.alltime.ru/obj/catalog/watch/casio/img/big/EFR-S107D-1AVUEF.jpg" alt="">
                <p>EDIFICE</p>
            </div>
            <div>
                <img src="http://www.alltime.ru/obj/catalog/watch/casio/img/big/GA-100B-7A.jpg" alt="">
                <p>G-SHOCK</p>
            </div>
        </div>
        <a href="#" class="link-arrow">Посмотреть все серии часов</a>
    </div>
    <div class="third">
        <p>Часы Casio, созданные из высококачественных современных материалов, стильно выглядят и никогда не подводят своего владельца.</p>
        <div>
            <img class="left-shadow" src="styles/img/watch5.svg" alt="">
            <img class="center-shadow" src="styles/img/watch6.svg" alt="">
            <img class="right-shadow" src="styles/img/watch7.svg" alt="">
        </div>
    </div>
    <div class="forth">
        <div>
            <h2>Покупай, что нравится</h2>
            <p>Закажи любую модель часов CASIO и мы доставим её в течение 3 дней</p>
            <a href="#" class="link-arrow">Подробнее</a>
        </div>
        <div>
            <h2>Самые низкие цены в Перми</h2>
            <p>Покупая часы в салоне или на нашем сайте, вы гарантированно получаете их по самой низкой цене</p>
            <a href="#" class="link-arrow">Подробнее</a>
        </div>
    </div>
    
</main>