<link rel="stylesheet" href="styles/index.css">
<main>
    <div class="first">
        <h1>Часы CASIO</h1>
        <p>Мы предлагаем продукцию знаменитой японской компании, которая с 1974 года производит часы превосходного качества.</p>
        <p>И именно в нашем магазине Вы встретите самые низкие цены в Перми!</p>
        <div>
            <img src="styles/img/watch1.svg" alt="">
            <div class="shadow"></div>
        </div>
    </div>
    <div class="second">
    	<p>Широкий ассортимент позволяет каждому найти те часы, которые подойдут именно ему.</p>
    	<div class="series">
    		<div>
    			<img src="https://dawos.ru/13708-large_default/15728-B650WD-1A.jpg" alt="">
    			<p>Casio Collection</p>
    		</div>
    		<div>
    			<img src="http://www.alltime.ru/obj/catalog/watch/casio/img/big/EFR-S107D-1AVUEF.jpg" alt="">
    			<p>EDIFICE</p>
    		</div>
    		<div>
    			<img src="http://www.alltime.ru/obj/catalog/watch/casio/img/big/GA-100B-7A.jpg" alt="">
    			<p>G-SHOCK</p>
    		</div>
    	</div>
    	<a href="#" class="link-arrow">Посмотреть все серии часов</a>
    </div>
</main>