@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 0;
    padding: 5px;
    background: linear-gradient(#000, #000c);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    font-size: 1.1vw;
}

header > .spacer {
    flex-grow: 1;
}

header > * {
    margin: 0;
    color: #fff;
    margin: 0 15px;
}

header > h1 {
    font-weight: normal;
    letter-spacing: .1em;
    font-size: 2.7em;
}

header > h1 > a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

header > a {
    text-decoration: none;
    font-size: 2em;
}

header + .pseudo {
    margin: 0;
    padding: 5px;
    background-color: #102;
}

header + .pseudo > h1 {
    color: #102;
    font-size: 3.3vw;
    font-weight: bold;
    margin: 0;
}